
keras-applications==1.0.8
keras-preprocessing==1.1.2

notebook==6.3.0

numpy==1.20.1
numpy-base==1.20.1
numpydoc==1.1.0

opencv==3.4.2
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56

pandas==1.2.4


pillow==8.2.0



python==3.7.10
python-dateutil==2.8.1
python-jsonrpc-server
python-language-server
python-libarchive-c==2.9
python_abi==3.7

scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.2

tensorboard==2.4.0
tensorboard-plugin-wit==1.6.0
tensorflow==2.1.0
tensorflow-base==2.1.0
tensorflow-estimator==2.1.0
tensorflow-hub==0.8.0

